@import 'variables';
@import 'mixins';

.sheet__toolbar {
  //temp
  //background: lightpink;

  position: absolute;
  height: $toolbar-height;
  top: $header-height;
  left: 0;
  right: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 7px 10px;
  display: flex;

  & .button {
    @include button(green);
  }
}